---
---

@charset "utf-8";

@import "devlopr";

/* custom css goes below */
.profile-links-custom {
    margin-top: 30px;
}
.social-link-custom {
    color: #000 !important;
    font-size: 25px;
    padding: 5px;
    margin: 2px;
    text-decoration: none !important;
}
