---
---

@charset "utf-8";

@import "devlopr";

/* custom css goes below */
.profile-links-custom {
    margin-top: 30px;
}
.social-link-custom {
    color: #000 !important;
    font-size: 25px;
    padding: 5px;
    margin: 2px;
    text-decoration: none !important;
}

.search-form-container {
	top: 0px;
	padding-top: 50px;
	z-index: +1040;
}

.sticky-top {
    top: 0px;
    padding: 0;
    margin-top: 0;
}

.blog-post {
    width: 100%;
}
