---
---

@charset "utf-8";

@import "devlopr";

/* custom css goes below */
.profile-links-custom {
    margin-top: 30px;
}
.social-link-custom {
    color: #000 !important;
    font-size: 25px;
    padding: 5px;
    margin: 2px;
    text-decoration: none !important;
}

.search-form-container {
	top: 0px;
	padding-top: 50px;
	z-index: +1040;
}

.sticky-top {
    top: 0px;
    padding: 0;
    margin-top: 0;
}

.blog-post {
    width: 100%;
    margin: 5px !important;
    padding: 5px !important;
}

#blog-posts-container{
    margin-right:20px !important;
}


/* if the browser window is at least 800px-s wide: */
@media screen and (min-width: 800px) {
  #grimes-date{
  width: 20%;}
}

/* if the browser window is at least 1500px-s wide: */
@media screen and (min-width: 1500px) {
  #grimes-date{
  width: 15%;}
}
