---
layout: default
---

<div class="col-lg-8 offset-lg-2">
    <div class="card">
        <div class="col-md-10 offset-md-1 offset-md-right">
        {{ content }}
         </div>
    </div>
</div>
<div class="row">
  <div class="col-md-4 offset-md-2">
    <div class="card">
      <div class="card-header">About {{site.author}}</div>
      <div class="card-body">
        <p class="author_bio">{{ site.typewrite-text }}</p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <div class="card-header">Useful Links</div>
      <div class="card-body text-dark">
        {% for i in site.urls %}
        <li>
          <a href="{{ site.url}}{{site.baseurl}}{{ i.url }}">{{ i.text }}</a>
        </li>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

